<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="tsp.jpg">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/Dashboard.css" />
</head>

<body>
    <div class="container">
        <h1>Welcome To Admin Board</h1>
            
            <button style="margin-bottom: 8px;" onClick="window.location.href='/addEvent'" >>Create a new Event</button>
            <button style="margin-bottom: 8px;" onClick="window.location.href='/viewevents'">View all Events</button>
            <button style="margin-bottom: 8px;" onClick="window.location.href='/viewRegistrations'" >View all Registrations</button>
           
        </form>
    </div>
    
</body>

</html>
