body {
    background-image: linear-gradient(to right, #7F8C8D, #000000);
  }

  .subbtn {
    width: -webkit-fill-available;
    justify-content: center;
    position: relative;
    left: 0%;
    padding: 6px;
    border-radius: 10px;
    background-color: #555555;
    color: #fff;
  }

  .subbtn:hover {
    background-color: #7F8C8D;
  }