body {
  background: #0f0c29;
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); 
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  );
  }

  .subbtn {
    width: -webkit-fill-available;
    justify-content: center;
    position: relative;
    left: 0%;
    padding: 6px;
    border-radius: 10px;
    background-color: #555555;
    color: #fff;
  }

  .subbtn:hover {
    background-color: #7F8C8D;
  }